* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    flex: 1;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-bar {
    display: flex;
    padding-top: 2%;
    padding-left: 10%;
}

.header-items {
    flex: 1;
    display: flex;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.links {
    font-weight: lighter;
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
}

.website-summary {
    padding: 10%;

    display: flex;
}

.summary-items {
    flex: 1;
    margin-left: 2%;
    margin-right: 1%;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-img {
    background-color: slategrey;
}

.button {
    font-size: 18px;
    color:#F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 32px;
    margin-top: 5%;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}

.button:hover {
    background-color: #E5E7EB;
    color:#1F2937;
}

.body-heading {
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

.info-boxes {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    gap: 32px;
}

.picture-item {
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    flex: 1;
}

.info-captions {
    display: flex;
    gap: 32px;
    margin-left: 10%;
    margin-right: 10%;
    color: slategrey;
}

.caption-item {
    text-align:center;
    flex: 1;
}

.quote {
    padding: 10%;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    background-color: #E5E7EB;
}


.call-to-action {
    background-color: #3882F6;
    color:#F9FAF8;
    margin: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items:center;
    border-radius: 10px;
}

.footer-left {
    flex: 1;
}

.footer-right {
    justify-items:end;
}

.footer-signup {
    font-size: 18px;
    color:#F9FAF8;
    background-color:#3882F6;
    border-color:#F9FAF8;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 32px;
}